### Data manipulation & ML
pandas==2.3.3
scikit-learn==1.7.2
xgboost

### LLM
openai==2.8.1
transformers==4.57.1

### Text Extraction
llama-index==0.14.8
llama-index-readers-web==0.5.6
llama-index-readers-json==0.4.2
llama-index-readers-database==0.5.1
docx2txt==0.9

### Visualization
matplotlib==3.10.7
bertviz==1.4.1
plotly==6.5.0

### Deep Learning
#tensorflow-macos==2.16.2
#tensorflow-metal==1.2.0

### Web apps & API
fastapi[standard]==0.121.2
streamlit==1.51.0

### Databases
sqlalchemy==2.0.44

### Notebooks
jupyterlab==4.5.0